<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enr_thelearningapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/preview"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AlphabetItem"></activity>
        <activity android:name=".AlphabetsActivity" />
        <activity android:name=".Kids_poem" />
        <activity android:name=".Kids_game" />
        <activity android:name=".Kids_learn" />
        <activity android:name=".Kids_color" />
        <activity android:name=".MathsQuiz" />
        <activity android:name=".Kids_Main" />
        <activity android:name=".start" />
        <activity android:name=".Coursenext" />
        <activity android:name=".QuizScore" />
        <activity android:name=".QuizQuestions" />
        <activity android:name=".QuizSets" />
        <activity android:name=".quizactivity" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Myaccount" />
        <activity android:name=".MainActivity" />
        <activity android:name=".mycourse" />
        <activity android:name=".search" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.applicationId"
            android:value="@string/facebook_application_id" />
    </application>

</manifest>